bot:
  token: PUT_DISCORD_BOT_TOKEN_HERE
  regrab_movie: PUT_NAME_OF_REGRAB_MOVIE_APP_CONFIG_HERE
  regrab_episode: PUT_NAME_OF_REGRAB_EPISODE_APP_CONFIG_HERE

sonarr:
  api_key: PUT_SONARR_API_KEY_HERE
  url: http://X.X.X.X:8989/api/v3

radarr:
  api_key: PUT_RADARR_API_KEY_HERE
  url: https://X.X.X.X:7878/api/v3
